<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538382351960-u4kh8g9plvnc4kn3hbtkno5f4qtgfdjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538382351960-u4kh8g9plvnc4kn3hbtkno5f4qtgfdjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCttLRPGn5pRRhKSXJqKDksC3Ue6f9aL7U</string>
	<key>GCM_SENDER_ID</key>
	<string>538382351960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.muthber.com</string>
	<key>PROJECT_ID</key>
	<string>muthber-ab8ab</string>
	<key>STORAGE_BUCKET</key>
	<string>muthber-ab8ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538382351960:ios:9dbe54d1bd935c1e</string>
	<key>DATABASE_URL</key>
	<string>https://muthber-ab8ab.firebaseio.com</string>
</dict>
</plist>