page-studenttask {
 .editinput{
        border-bottom:1px solid gray;
        height: 30px;
        margin: 10px auto 0;
        direction: rtl;
        .text-input{
            margin: 5px ;
            text-align: end;
        }

        .input-cover{
            position: static;
        }
    }

    .question{
        // height: 170px;
        border: 1px solid gray;
        margin: 25px auto;
        padding: 0px !important;
        direction: rtl;
        position: static;
    }

    .topdiv{
        margin-top: 70px;
        text-align: end;
        width: 80%;
        margin: 70px auto 0;
        height: 100%;
        .divtitle{
            font-size: 25px;
            margin: 10px;
        }

    }
    .scroll-content {
        height: 90% !important;
        padding-bottom: 0 !important;
    }

    textarea.text-input {
        display: block;
        height: 85%;
    }

    .audio{
        border: 1px solid gray;
        border-radius: 5px;
        height: 55px;
        audio{
            width: 100%;
        }
    }
   .scroll-content{
        overflow: scroll;
      }
    .answer{
        padding: 5px 10px;
        height: 120px;
        // max-height: 120px;
        // overflow: scroll;
        border: 1px solid gray;
        margin-top: 20px;
        padding: 5px 10px;
        -webkit-box-shadow: 0px 5px 10px 3px #cccaca;
        box-shadow: 0px 5px 10px 3px #cccaca;
    }

    .enter{
        font-size: 20px;
        color: white;
        font-weight: normal;
        height: 35px;
        border-radius: 25px;
        padding: 10px;
        font-family: cairobold;
        background-color: #dfc262;
        width: 45%;
        margin: auto;
    }

    .input-cover {
        height: 0 !important;
        display: none !important;
    }
    .spinner{
      margin-right: 45%,
        // margin: auto;
    }
}
