<ion-header>
    <ion-title><header></header></ion-title>
</ion-header>


<ion-content>
        <div class="grade">
            <ion-item (click)="reset()" class="editinput" >
                <ion-label>المرحلة</ion-label>
                <ion-select >
                  <ion-option (ionSelect)="getSelectedGrade(grade)" *ngFor="let grade of gradeArr;let i=index"  value={{grade.grade[i]}} required>{{grade.grade}}</ion-option>

                </ion-select>
              </ion-item>
                  <ion-item *ngIf="grade_id!=''" class="editinput" >
                    <ion-label>السنة الدراسية</ion-label>
                    <ion-select >
                      <ion-option (ionSelect)="getSelectedYear(year)" *ngFor="let year of yearsArr;let i=index"  value={{year.year[i]}} required>{{year.year}}</ion-option>

                    </ion-select>
                  </ion-item>
                  <ion-item   *ngIf="year_id!=''" class="editinput" >
                    <ion-label>المواد</ion-label>
                    <ion-select >
                      <ion-option (ionSelect)="getSelectedSubject(subject)" *ngFor="let subject of subjectsArr;let i=index"  value={{subject.name[i]}} required>{{subject.name}}</ion-option>

                    </ion-select>
                  </ion-item>
            </div>
<div class="topdiv">
        <form #f="ngForm">

    <div *ngFor="let question of questionsArr;let i=index" class="total">
        <ion-row>
                <ion-col *ngIf="question.image !=null" col-1><img src={{question.image}}></ion-col>
                <ion-col *ngIf="question.image ==null" col-1><img src="assets/imgs/student.png"></ion-col>

                <ion-col col-5><p>{{question.name}} </p></ion-col>
                <ion-col col-5><p>{{question.created_at}}</p></ion-col>
                <ion-col col-1 (click)="writeBlock(i)"><img src="assets/imgs/block.png" ></ion-col>
                <div *ngIf="reportBlockArray[i]" id="blockitem" class="block">
                    <ion-input   [(ngModel)]="reportStudent[i]" name="reportStudent[i]" type="text" placeholder="اكتب تقرير عن الطالب">


                    </ion-input>
                    <button (click)="report(question,i)" ion-button clear class="sendbtn">ارسال</button>
                </div>
        </ion-row>

        <div style="margin:0 25px">
            <ion-row>
                    <ion-col col-12><p >{{question.question}}</p></ion-col>
            </ion-row>
            <ion-row>
                    <ion-col *ngIf="question.image_url ==null" col-2 style="text-align: center;"><img height="100%" width="100%" src="assets/imgs/uploadimg.png"></ion-col>
                    <ion-col *ngIf="question.image_url !=null" col-2 style="text-align: center;"><img height="100%" width="100%" (click)='imageMax(question.image_url)' src={{question.image_url}}></ion-col>

                   
            </ion-row>
            <ion-textarea  [(ngModel)]="questionText[i]" name="questionText[i]" class="question" placeholder="اكتب الاجابة هنا">
            </ion-textarea>
            <ion-row style="text-align:center">
             

                    <ion-col col-12>
                                    <div (click)="addImage(i)">
                                            <img *ngIf="imageAnswer[i] ==''" src="assets/imgs/uploadimg.png">
                                            <img *ngIf="imageAnswer[i] !=''" src={{imageAnswer[i]}}><br>

                                            <p>اضافة صوره</p>
                                        </div>
                        </ion-col>

                </ion-row>
                <button  *ngIf="questionText[i]!=''" (click)="answerAQuestion(question,questionText[i],i)" ion-button block class="enter">تم</button>
        </div>

    </div>
</form>
</div>
</ion-content>
