page-studentsubs {

.topp{
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    color: gray;
}
.controw{
    text-align: center;
    height: 120px;
    direction: rtl;
    h6{
       margin: 10px 0;
       color: #504e4e;
    }
}
.newdiv{
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    height: 50px;
    background-position: center;
    background-size: contain;
}
}
