// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$topcolor:   #017C9A;
$lowcolor:   #03A4CA;
$iconcolor:  #00CAFA;
$buttonBack :#dfc262;
@font-face {
    font-family: 'basefont';
    src: url('../assets/fonts/Bahij_Janna-Bold.ttf') ;
  }
*{
    font-family: basefont;
}
.button-md.activated , .button-ios.activated{
    background-color: $buttonBack;
}
.input-cover{
    position: static !important;
}
.toolbar-title{
    padding: 0;
}
.tabbar{
    top: 55px !important;
    height: 60px;
    direction: rtl;
}
.ios .notify {
    padding-top: 15px;
}

.item-ios.item-block .item-inner {
    border-bottom: none;
}
// .content{
//     background-color: aliceblue;
// }
// .scroll-content{
//     height: 100% !important;
//   }
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
   border-bottom: 1px solid gray;;
}
page-testquestions .radio-ios .radio-inner , page-studenttest .radio-ios .radio-inner {
  background-color: transparent !important;
}
  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
      background-image: none !important;
      top: 0;
      height: 0;
      bottom:0;
  }
  .tabs-md .tab-button-text , .tabs-ios .tab-button-text {
      font-size: 1.7rem;
  }
  .tabs-ios[tabsLayout=icon-hide] .tab-button, .tabs-ios .tab-button.has-title-only {
    height: 60px;
}
.menubtn{
    background-color:white;
    color:  gray;
    direction: rtl;
    padding: 0;
    ion-icon{
        margin: 0 5px;
    }
}
.micon{
    text-align: center;
    font-size: 30px;
    padding-top: 2px;
    color: #017c9a;

}
//
.tabs-ios .tab-button {
    max-width: 100%;
}
.mp{
    margin: 0;
    font-size: 20px;
    color: gray;
    padding: 0 16px;
}
.item-md.item-block .item-inner ,.item-ios.item-block .item-inner{
    padding-right: 0px;
}
.input-wrapper {
    border-bottom: 1px solid gray;
}
.menu-inner{
    width:200px;
}
button.item-ios:not([detail-none]) .item-inner{
    background-image: none;
    padding-right:0;
}