page-bankaccounts {
  .totdiv{
        width: 90%;
        margin: auto;
        direction: rtl;
        padding: 25px 0;
        color: #484848;
        border-bottom: 1px solid gray;
    }
p{
    margin: 0
}
}
