<div>
  <ion-row class="headerrow">
    <!-- <ion-col col-2 class="imgcol"> 
      
    </ion-col> -->
    <ion-col col-3 class="imgcol"> 
        <ion-buttons left navPop style="float:left">
            <button ion-button icon-only style="display:inline;background: transparent;box-shadow: none;">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-buttons>
          <ion-icon class="notify" name="notifications"></ion-icon>
          <div (click)="resetMsg()" *ngIf="msgs>0" class="reddiv">msgs</div>
    </ion-col>
    <ion-col col-7 class="col7"><p>{{name}}</p></ion-col>
    <ion-col col-2 class="imgcol"><ion-icon class="menu" name="menu" (click)="openMenu()"></ion-icon></ion-col>
 </ion-row>

 
</div>
