header {
 div{
        background-color:$topcolor;
        background-repeat: no-repeat;
        background-size: cover;
        height: 55px;
        color: white;
        z-index: 11;
    }
    .reddiv{
        background-color: red;
        border-radius: 50%;
        height: 16px;
        width: 15px;
        position: fixed;
        top: 25px;
        font-size: 12px;
        // /* padding-top: 1px; */
        line-height: 16px;
        left: 75px;
        color: white;
        // display: none;
    }
    .headerrow{
        .imgcol{
                text-align: center;
        }
        img{
            height: 15px;
    }
    }
    .line{
        height: 35px !important;
    }
    .notify{
      font-size: 33px;
        padding-top: 10px;
      padding-left: 4px;
    }
    .menu{
        font-size: 30px;
        padding-top: 7px;
    }

    .col7{
        text-align: center;
        font-size: 20px;
        padding-top: 14px;
        p{
            margin: 0;
        }
    }

    }
