<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


    <ion-title><header></header></ion-title>


</ion-header>


<ion-content>
    <p class="topp">تسجيل مستخدم جديد</p>
    <div class="topdiv">
       
        <div id="profileImage" >
          <img *ngIf="image==''"  height="25px" class="simg" (click)="profileImage()" src="assets/imgs/editicon.png" ></div>
          <img *ngIf="image!=''"  height="25px" class="simg" (click)="profileImage()" src={{displayImage}} >

        </div>

    <button ion-button class="upload" clear>تحميل الصوره الشخصيه</button>
   
   <form #f="ngForm">
     <ion-input [(ngModel)]="name" name="name" class="editinput" type="text" placeholder="الاسم بالكامل"></ion-input>
     <!-- <ion-input  [(ngModel)]="phone" name="phone"class="editinput" type="text" placeholder="اسم المستخدم"></ion-input> -->
     <ion-input  [(ngModel)]="phone" name="phone" class="editinput" type="tel" placeholder="رقم الهاتف"></ion-input>
     <ion-input [(ngModel)]="password" name="password" class="editinput" type="password" placeholder="كلمة المرور"></ion-input>
     <ion-input [(ngModel)]="password_confirm" name="password_confirm" class="editinput" type="password" placeholder="تاكيد كلمة المرور"></ion-input>
    <p style="    color: red;
    align-items: start;
    margin-left: 46%;" id="passwordCheck">عفوا كلمة المرور غير متطابقة</p>
     <ion-input [(ngModel)]="email" name="email" class="editinput" type="email" placeholder="البريد الالكترونى"></ion-input>
     <ion-item *ngIf="!teacherFlag"  class="editinput" >
        <ion-label>المرحلة</ion-label>
        <ion-select >
                <ion-option  (ionSelect)="getSelectedGrade(grade)"  *ngFor="let grade of grades;let i=index"  value={{grade.grade[i]}} required>{{grade.grade}}</ion-option>

        </ion-select>
      </ion-item>
      <ion-item  *ngIf="!teacherFlag" class="editinput" >
          <ion-label>السنة الدراسية</ion-label>
          <ion-select >
            <ion-option (ionSelect)="getSelectedYear(year)" *ngFor="let year of yearsArr;let i=index"  value={{year.year[i]}} required>{{year.year}}</ion-option>
          
          </ion-select>
        </ion-item>

  
   
       <button ion-button block class="btn" (click)="home()">تسجيل</button>
   </form>
</ion-content>
