<ion-header>
    <ion-title><header></header></ion-title>
</ion-header>

<ion-content>
    <div class="topdiv">
            <p class="divtitle">الاجابات</p>
            <ion-item  class="editinput" >
                <ion-label>اختار السوال</ion-label>
                <ion-select >
                    <ion-option   (ionSelect)="selectSubject( subj )"   *ngFor="let subj of questions;
                    let i=index"  value={{subj.question}}>{{subj.question}}
                       </ion-option>

                </ion-select>
            </ion-item>



           <div *ngIf="answer !=''" >
            <p class="answer">
answer           </p>
           

            <div *ngIf="image_url!=null && image_url!=''"  class="imgdiv">
                <img (click)="maxImage(image_url)" src={{image_url}}>
            </div>
            <p class="prate">
                    تقييم الاجابه
            </p>
            <ion-row  class="raterow">
                <ion-col col-1></ion-col>
                <ion-col *ngFor='let star of rateStars;let i=index'  (click)="addRate(i)" col-2><ion-icon name={{star}}></ion-icon></ion-col>
                <ion-col col-1></ion-col>
            </ion-row>

            <!-- <button ion-button block class="enter">تم</button> -->
    </div>
    </div>
</ion-content>
