page-aboutus {
.top{
    text-align:center;
    margin: 10px 0 20px;
    img{
        height: 145px;
    }
}

.cont{
    p {
        margin: 0;
        line-height: 25px; 
        text-align: end;
        font-size: 17px;
    }
}
}
