page-addlessons2 {
.topdiv{
        text-align: center;
        font-size: 25px;
        direction: rtl;
        color: #017C9A;
        margin-top: 20px;
        width: 85%;
        margin: auto;
        p{
            margin: 0 5px;
            text-align: start;
            color: gray;
            img{
                height: 100%;
                width: 100%;
            }
        }
        
    }

    .topp{
        text-align: center;
    font-size: 25px;
    color: gray;
     ion-icon{
        color: white;
        background-color: #017C9A;
        border-radius: 50%;
        padding: 0 5px;
        font-size: 28px;
     }
    }
}
